/* 1- Cabeçalho */

#BarraNav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(#f55b5b,#f55b5b, #ffffff);
    padding-inline: 20px;
    z-index: 1;

}

#BarraNavEsquerda,
#BarraNavCentro,
#BarraNavDireita {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


#LogoStudentHub,
#BoasVindas,
#Menu{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}

#Login_Registar{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem;
}

#Menu {
    gap: 1rem;
    
}







/* --------------------------------------------------------------------------- */

/* 2- Carrossel Slider */

/* body{
    background-color: rgb(182, 62, 62);
} */

main {
    position: relative;
    padding: 6rem;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    transform: scale(0.9); /* Reduz para 90% do tamanho original */
    transform-origin: top center; /*Define o ponto de origem do redimensionamento */ 

    

}


#BoxCarrossel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 560px;
    border-radius: 24px;
    background-color: #00000000;
    overflow: hidden;

}

#Slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 560px;
    background-color: none;
    border-radius: 24px;
    animation: slide 10s infinite;

}



@keyframes slide {
    0% {
        transform: translateX(100%);
        /*Primeira imagem*/
    }

    12.5% {
        transform: translateX(100%);
        /*Primeira imagem*/
    }

    25% {
        transform: translateX(0);
        /*Segunda imagem*/
    }

    37.5% {
        transform: translateX(0);
        /*Segunda imagem*/
    }

    50% {
        transform: translateX(-100%);
        /*Terceira imagem*/
    }

    62.5% {
        transform: translateX(-100%);
        /*Terceira imagem*/
    }

    87.5% {
        transform: translateX(100%);
        /*Primeira imagem*/
    }

    100% {
        transform: translateX(100%);
        /*Primeira imagem*/
    }


}









/* --------------------------------------------------------------------------- */
/* 3- Notícias */

#ContainerNoticias {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: center; 
    justify-content: space-evenly;    
    gap: 4rem; 
    padding: 20px;
    background-color: none;
    
}






/* --------------------------------------------------------------------------- */
/* 4- Resumo e Eventos */

#ContainerResumo,#ContainerEventos {
    position: relative;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    align-items: start;
    justify-content: center;
    gap: 2rem;
    border-radius: 25px;
    padding: 3rem 2rem;
    width: 100%;
    /* max-width: 1200px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1); */
    background-color: none;
    
}

#ContainerEventos {
    
    margin-bottom: 6rem;
    

}








/* --------------------------------------------------------------------------- */

/* 5- Rodapé */

#Rodapé {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(#ffffff,#f55b5b,#f55b5b);
    padding-inline: 20px;

}
#BarraRodaEsquerda,
#BarraRodaCentro,
#BarraRodaDireita {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



#RedesSociais {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}




