

/* Tablets pequenos e smartphones grandes - 481px até 768px */
@media screen and (max-width: 768px) {
    
    #BarraNav {
        flex-direction: column;
        height: auto;
        padding: 8px;
        gap: 0rem;
        align-items: center;
        justify-content: center;
    }
    
    #BarraNavEsquerda {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    #LogoStudentHub {
        font-size: 18px;
        margin-bottom: 5px;
        text-align: center;
        padding: 8px;
    }
    
    #BoasVindas {
        text-align: center;
        margin: 5px 0;
        display: none;
    }
    
    #BoasVindas h1 {
        font-size: 1rem;
        margin: 0;
    }
    
    #Menu {
        flex-direction: row;
        gap: 0.3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    
    #Menu li {
        text-align: center;
    }
    
    #Menu a {
        padding: 5px 8px;
        font-size: 14px;
    }
    
    #Login_Registar {
        margin-top: 5px;
        padding: 0.5rem;
        text-align: center;
        justify-content: center;
    }
    



    main {
        top:10rem;
        padding-bottom: 0rem;
        transform: scale(0.8);
        transform-origin: top center;
    }
    
    #BoxCarrossel, #Slider {
        width: 90vw;
        height: 300px;
    }
    
    .TitulosInicio {
        font-size: 2rem;
        margin: 20px 0;
    }
    
    #ContainerNoticias, #ContainerResumo, #ContainerEventos {
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        padding: 10px;
    }
    
    .Noticias, .Resumo, .Eventos {
        width: 13rem;
        height: auto;
        min-height: 20rem;
        padding: 1.5rem;
    }
    
    .Noticias img, .Resumo img, .Eventos img {
        height: 10rem;
    }
    
    .TextoMosaico, .TextoResumo, .TextoEventos {
        font-size: 0.9rem;
        line-height: 1.4;
    }
    
    #Rodapé {
        flex-direction: column;
        height: auto;
        padding: 15px 10px;
        gap: 1rem;
    }
    
    #BarraRodaEsquerda,
    #BarraRodaCentro,
    #BarraRodaDireita {
        width: 100%;
        text-align: center;
    }
    
    #RedesSociais {
        gap: 1rem;
    }
    
    #Copyright, #email, #Instagram, #Facebook, #X {
        font-size: 14px;
    }
}
