/* 1- Cabeçalho */


#LogoStudentHub{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-shadow:
            -0.50px -0.50px 0 rgba(0, 0, 0, 0.50),
             0.50px -0.50px 0 rgba(0, 0, 0, 0.50),
            -0.50px  0.50px 0 rgba(0, 0, 0, 0.50),
             0.50px  0.50px 0 rgba(0, 0, 0, 0.50);


}


#BoasVindas,#Início,#EE,#Serviços,#Contactos,#Login,#Instagram,#Facebook,#X{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:
            -0.50px -0.50px 0 rgba(0, 0, 0, 0.50),
             0.50px -0.50px 0 rgba(0, 0, 0, 0.50),
            -0.50px  0.50px 0 rgba(0, 0, 0, 0.50),
             0.50px  0.50px 0 rgba(0, 0, 0, 0.50);
} 





/* --------------------------------------------------------------------------- */

/* Main */

/* 1. TÍTULOS */


.TitulosInicio {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #f55b5b;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow:
        -0.5px -0.5px 0 rgba(0,0,0,0.5),
         0.5px -0.5px 0 rgba(0,0,0,0.5),
        -0.5px  0.5px 0 rgba(0,0,0,0.5),
         0.5px  0.5px 0 rgba(0,0,0,0.5);
}




/* 2- Carrossel Slider imagens */

#Slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;

}





/* ---------------------------------------------- */

/* 3- Contornos Noticias, Resumo, Eventos  */

.Noticias, .Resumo, .Eventos {
    
    border: 2px solid rgba(97, 94, 94, 0.3);
    border-left: 4px solid #f55b5b;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    width: 15rem;
    height:23rem;
    margin-bottom: 10px;
    text-align: center;
    padding: 2rem;
    
}

/* Imagens */


.Noticias img, .Resumo img, .Eventos img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 12px;
}


/* Textos */


.TextoMosaico, .TextoResumo, .TextoEventos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align:justify;
    hyphens: auto;
    overflow-wrap: break-word;
    width: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.5; /*Entre linhas na vertical */
    margin: 10px auto 0 auto;
    color: black;
    text-shadow:
        -0.7px -0.7px 0 rgba(255, 255, 255, 0.2),
         0.7px -0.7px 0 rgba(255, 255, 255, 0.2),
        -0.7px  0.7px 0 rgba(255, 255, 255, 0.2),
         0.7px  0.7px 0 rgba(255, 255, 255, 0.2);
    padding-bottom: 1rem;
}




/* --------------------------------------------------------------------------- */

/* 5- Rodapé */

#Rodapé {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.375rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #202020;
    padding-inline: 20px;

}
#BarraRodaEsquerda,
#BarraRodaCentro,
#BarraRodaDireita {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



#RedesSociais {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}




#Copyright, #email, #Instagram,#Facebook,#X{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:
            -0.50px -0.50px 0 rgba(0, 0, 0, 0.50),
             0.50px -0.50px 0 rgba(0, 0, 0, 0.50),
            -0.50px  0.50px 0 rgba(0, 0, 0, 0.50),
             0.50px  0.50px 0 rgba(0, 0, 0, 0.50);
}

#LogoInstagram,#LogoFacebook,#LogoX{
    width: 1.4rem;
}

#Instagram,#Facebook,#X,#LogoInstagram,#LogoFacebook,#LogoX{
   vertical-align: middle;
   align-items: center;
   justify-content: center;
   display: inline-block;
   margin-left: 5px;
}






